.App {
  text-align: center;
}

.nav {
  width: 100%;
  background: rgb(0,5,24);
  background: -moz-linear-gradient(167deg, rgba(0,5,24,1) 0%, rgba(13,12,12,1) 100%);
  background: -webkit-linear-gradient(167deg, rgba(0,5,24,1) 0%, rgba(13,12,12,1) 100%);
  background: linear-gradient(167deg, rgba(0,5,24,1) 0%, rgba(13,12,12,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000518",endColorstr="#0d0c0c",GradientType=1);
}


